:root {
  --white: #fff;
  --black-text: #262626;
  --green-text: #ccff84;
  --black-light: #2b2b2b;
  --gray: #959595;
  --gray-light: #eeeeee;
}

@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&display=swap");

html,
body {
  overflow-y: scroll;

  max-width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

html {
  font-size: 18px;
}
h1 {
  font-size: 6rem;
  margin: 0;
  font-weight: 600;
}
h2 {
  font-size: 5rem;
  margin: 0;
  font-weight: 500;
}
h3 {
  font-size: 4rem;
  margin: 0;
  font-weight: 500;
}
h4 {
  font-size: 3rem;
  margin: 0;
  font-weight: 500;
}
h5 {
  font-size: 2rem;
  margin: 0;
  font-weight: 500;
}
h6 {
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}
p {
  font-size: 1rem;
  margin: 0;
  font-weight: 300;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

*:focus {
  outline: none;
}

html,
body {
  min-width: 425px;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Onest", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  padding: 0 2rem;
  margin: 0 auto;
}
.colortext {
  color: var(--green-text);
}
button {
  border: 1px solid var(--black-text);
  background-color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
}

/*Header*/
header {
  width: 100%;
  height: 100svh;
  background-image: url("./img/headerbanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--white);
  font-weight: 500;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem 2rem;
}
.ul-header {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.banner-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--white);
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
}
.banner-text-bottom {
  text-align: end;
}
/*Header*/

/*SECTION-2*/
.section-about {
  width: 100%;
  margin: 0 auto;
}
.grid-about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  max-width: 1300px;
  margin: 5rem auto;
}
.grid-h {
  grid-area: 1 / 1 / 3 / 2;
  color: var(--gray);
}
.row-h {
  grid-area: 1 / 2 / 2 / 5;
}
.div13 {
  grid-area: 2 / 2 / 3 / 3;
}
.div14 {
  grid-area: 2 / 3 / 3 / 4;
}
.div15 {
  grid-area: 2 / 4 / 3 / 5;
}

/*SECTION-2*/

.box {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin: 8rem 0;
}
.lrft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--gray);
}
.right {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  float: right;
  max-width: 970px;
}
#extraright {
  gap: 1rem;
}
.right-0 {
  display: flex;
  flex-direction: column;
}

.right-top {
  display: flex;
  gap: 25px;
  width: 100%;
}

.right img {
  width: 100%;
}
.right-bottom {
  display: flex;
  gap: 25px;
}
.right-bottom-1 {
  width: 33%;
}
.right-bottom-1 p {
  width: 100%;
}
/*SECTION-3*/
.section-p {
  width: 100%;
  background-color: var(--black-light);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 2rem;
}
.section-p h5 {
  width: 100%;
  color: var(--white);
  font-weight: 400;
  line-height: 3rem;
}

/*SECTION-3*/

/*SLIDER*/
#carouselExampleIndicators {
  width: 100%;
}
/*SLIDER*/

/*SECTION-4*/
.tiles {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  flex-wrap: nowrap;
}

.tile {
  width: 330px;
  max-height: 370px;
  padding: 30px 20px;
  position: relative;
  background: linear-gradient(
        to bottom,
        #000 1px,
        transparent 1px,
        transparent calc(100% - 1px),
        black calc(100% - 1px)
      )
      no-repeat,
    linear-gradient(
        to left,
        #000 1px,
        transparent 1px,
        transparent calc(100% - 1px),
        black calc(100% - 1px)
      )
      no-repeat;
  background-position: center;
  background-size: calc(100% - 1em) 100%, 100% calc(100% - 1em);
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  margin-left: -1px;
}

.tile p {
  font-weight: 300;
}

.tile h6 {
  font-weight: 600;
  margin-bottom: 1rem;
}
/*SECTION-4*/

/*SECTION-PHOTOS*/
.section-photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 72px;
  margin: 8rem 0;
}

.div21 {
  grid-area: 2 / 1 / 3 / 2;
}
.div22 {
  grid-area: 1 / 1 / 2 / 2;
}
.div23 {
  grid-area: 1 / 2 / 2 / 3;
}
.div24 {
  grid-area: 2 / 2 / 3 / 3;
}
.div25 {
  grid-area: 1 / 3 / 3 / 5;
}
.section-photos img {
  width: 100%;
  height: 100%;
}
/*SECTION-PHOTOS*/

/*SECTION-SERVICE*/
.section-service {
  margin: 2.5rem auto;
}

.tab-row {
  border: 1px solid var(--black-text);
  border-left: none;
  border-right: none;
  padding: 1.5rem 1rem;
  margin-top: -1px;
}

.btn-service {
  font-weight: 500;
  margin-top: 2rem;
}

/*SECTION-SERVICE*/
/*SECTION-FORM*/
.section-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--gray-light);
  width: 100%;
}

.div41 {
  display: flex;
  flex-direction: column;
}
.div42 {
  grid-area: 1 / 2 / 2 / 5;
  font-weight: 500;
}
.section-form form input {
  background-color: var(--gray-light);
  border: 1px solid var(--black-text);
  color: var(--black-text);
  border: 0;
  border-bottom: 1px solid var(--black-text);
}
.btn-form {
  background-color: var(--gray-light);
  max-width: 220px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  gap: 2rem;
  margin: 2rem 0;
}
#extraform {
  width: 970px;
}
/*SECTION-FORM*/

/*Footer*/
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--black-text);
}
.wrapper-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  padding: 5rem 2rem;
}
.footer-column {
  display: flex;
  flex-direction: column;
  color: var(--white);
}
.ul-footer {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  gap: 0.5rem;
}
/*BURGER-MENU*/

.nav-bar {
  position: absolute;
  background-color: var(--gray-light);
  top: 0;
  right: 100%;

  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition: position 2.9s;
  -webkit-transition: position 2.9s;
  -moz-transition: position 2.9s;
  -ms-transition: position 2.9s;
  -o-transition: position 2.9s;
  display: none;
  z-index: 99;
}

.toggle {
  left: 0;
  height: 200dvh;
  box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
}

.toggle-menu {
  background-color: #05050528;
  position: fixed;
  top: 3rem;
  right: 20px;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 2px 2px 3px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
  background-color: #fff;
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line3 {
  background-color: #fff;
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
  background-color: #05050528;
}

.nav-list {
  position: absolute;
  position: fixed;
  padding-top: 2rem;
  list-style: none;
  color: var(--black-text);
  z-index: 99;
}

.nav-list-item {
  text-align: center;
  padding: 10px 0;
}

.nav-link {
  color: var(--black-text);
  font-size: 22px;
  text-decoration: none;
  position: absolute;
  padding-bottom: 4px;
}

.nav-link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
  transform-origin: left;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
}
.nav-link:hover::before {
  transform: scaleX(1);
}

@media (max-width: 1024px) {
  .ul-header {
    display: none;
  }
  .nav-bar {
    display: block;
  }
  .banner-text-top,
  .banner-text-bottom {
    font-size: 5rem;
  }

  .tiles {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  #extraimg {
    display: none;
  }
  .right-bottom-1 {
    width: 100%;
  }
  input {
    width: 80%;
  }
  #extraform {
    width: 100%;
  }
}
@media (max-width: 452px) {
  html {
    font-size: 14px;
  }
  .banner-text-bottom,
  .banner-text-top {
    text-align: start;
    font-size: 3.5rem;
  }

  .box {
    flex-direction: column;
  }
  .right-bottom {
    flex-direction: column;
  }
  .right-bottom-1 {
    width: 80%;
  }

  .section-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0;
    margin: 8rem 0;
  }
}
